/*
 * Authors: John Gibby @thatgibbyguy
 *
 * --------------
 *
 * Based on HTML5 Boilerplate & Envoc Framework
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== import css =========================================================*/
 
@import url('font-awesome.css');
@import url('icomoon.css');
@import url('kube/kube.less');

/* ==|== normalize ==========================================================*/

/* HTML5 display definitions ================================================*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0;}
[hidden] { display: none; }

/* Base ========================================================================== */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
a{outline:none;}

::-moz-selection { background: gray; color: #fff; text-shadow: none; }
::selection { background: gray; color: #fff; text-shadow: none; }

/* Typography =================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Lists ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* Embedded content =============================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

/* Figures ======================================================================== */

figure { margin: 0; }

/* Forms ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* Tables ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* Chrome Frame Prompt ============================================================= */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* Fonts ===================================================================== */
@font-face { font-family: 'Knockout-Middleweight'; src: url('font/KnockHTF51Mid.eot'); }
@font-face { font-family: 'Knockout-Middleweight'; src: url('font/KnockHTF51Mid.eot?iefix') format('embedded-opentype'), url('font/KnockHTF51Mid.svg#Knockout-HTF51-Middleweight') format('svg'), url('font/KnockHTF51Mid.woff') format('woff'); }
@font-face { font-family: 'Knockout-JuniorWelterwt'; src: url('font/KnockHTF30JunWel.eot'); }
@font-face { font-family: 'Knockout-JuniorWelterwt'; src: url('font/KnockHTF30JunWel.eot?iefix') format('embedded-opentype'),url('font/KnockHTF30JunWel.svg#Knockout-HTF30-JuniorWelterwt') format( 'svg'), url('font/KnockHTF30JunWel.woff') format('woff'); }

/* ==|== LESS Variables ===================================================== */

@white: #fff;

/* ==|== LESS Mixins ===================================================== */
.margins (@margin:0px) { margin:@margin; }
.bold-font {  }
.light-font {  }
.script-font {  }
.full-width (@width:100%) { width:@width; }
.full-height (@height:100%) { height:@height; }
.square (@size:100%) { height:@size; width:@size; }
.maximum-width { max-width:1000px; }
.centered { margin:0 auto; }
.block { display:block; }
.font-size (@size:10px) { font-size:@size; }
.circles (@radius: 380px) {  -webkit-border-radius: @radius;  -moz-border-radius: @radius;  -ms-border-radius: @radius;  -o-border-radius: @radius;  border-radius: @radius; }
.padding(@thickness:10px){ padding:@thickness; }
.relative { position:relative; }
.absolute { position:absolute; }

/* ==|== CSS Styles, IDs & Elements ===================================================== */



/* Common Helper Classes ========================================================================== */

.pull-right {float: right;}
.pull-left {float: left;}

.hide {display: none;}
.show {display: block;}

.text-center { text-align: center; }

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.trans(@time:0.5s){-webkit-transition: all @time ease; -moz-transition: all @time ease; -o-transition: all @time ease; transition: all @time ease;}

.last{border:0!important; margin-right:0;}

/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* =============================================================================
   Responsive Styles
   ========================================================================== */
